html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: #caff30;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(144, 184, 24);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(25, 20, 38, 1);
}

* {
  user-select: none;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
